:root {
    --text-color-primary: #0c7380;
    --text-color-secondary: #777;
    --text-color-normal: black;
    --background-color-primary: white;
    --background-color-secondary: #f7f9fc;
    --border-color: #ccc;
}

html,
body {
    padding: 0;
    margin: 0;
    background: rgb(235, 238, 247);
    font-family: sans-serif;
    color: var(--text-color-normal);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--background-color-primary);
    background-color: #2a2d33;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
    text-align: center;
}

.modalBackdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .dialog {
        position: fixed;
        top: 150px;
        padding: 20px 200px;
        background: var(--background-color-primary);
        display: flex;
        justify-content: center;
    }
}

.section {
    margin: 20px;
    background: var(--background-color-primary);
    box-shadow: 0 0 4px 1px var(--border-color);
    display: flex;
    flex-direction: column;

    .sectionTitle {
        background: var(--background-color-secondary);
        color: var(--text-color-primary);
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        box-shadow: 0px 1px 0px var(--border-color);
    }
    
    .sectionTitle, .sectionContent {
        padding: 20px;
    }
}

.button {
    cursor: pointer;
    background: var(--background-color-primary);
    color: var(--text-color-secondary);
    padding: 12px 25px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.buttonPrimary {
    background: var(--text-color-primary);
    color: white;
}

.actions {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.companySectors {
    display: flex;
    justify-content: center;

    .companySector {
        display: flex;
        flex: 1 1 auto;
        
        &:not(:last-of-type) {
            border-right: 1px solid var(--border-color);
        }

        .companySectorContent {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            text-align: center;
            padding: 0 2rem;
        }

        .companySectorCount {
            font-size: 1.8rem;
            font-weight: bold;
            color: var(--text-color-normal);
        }
    
        .companySectorText {
            color: var(--text-color-primary);
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    
    th {
        text-transform: uppercase;
    }

    th, td {
        font-weight: normal;
        padding: 20px 0;
        text-align: right;
        min-width: 5px;
    }

    td {
        padding: 25px 0;
    }
    
    .alignLeft {
        text-align: left;
    }

    .borderBottom {
        border-bottom: 1px solid var(--border-color);
    }
}

.newCompany {
    h2 {
        padding: 2rem;
        font-size: 1.2rem;
        color: var(--text-color-primary);
        text-transform: uppercase;
        text-align: center;
    }
}

.form {
    .formField {
        margin: 15px 0;

        label span {
            display: block;
            color: var(--text-color-normal);
        }
        
        input, select {
            position: relative;
            padding: 6px 15px;
            width: 320px;
            margin: 3px 0;
            border: 2px solid var(--border-color);
            border-radius: 5px;
        }

        select {
            cursor: pointer;
        }

        .placeholderRight {
            position: absolute;
            font-size: 0.8rem;
            right: 7px;
            top: 12px;
            color: var(--text-color-secondary);
        }
        
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input[type=number] {
            -moz-appearance: textfield; /* Firefox */
            appearance:none;
        }

        select:required:invalid {
            color: var(--text-color-secondary);
        }

        option {
            color: var(--text-color-normal);
        }
    }
}

.investmentSizeContent {
    display: flex;
    justify-content: center;

    .graphTitle {
        position: absolute;
        left: 260px;
        top: 215px;
        z-index: 1;
        text-align: center;
        color: var(--text-color-normal);
        line-height: 1.35;
        
        .graphTitle1 {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .investmentSizeGraph {
        position: relative;
    }
}